@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Pretendard-Regular';
   src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}
* {
   font-family: 'Pretendard-Regular', sans-serif !important;
}
p,
strong,
span {
   line-height: 1.3;
}

h3 {
   font-size: 1.2rem;
}

html {
   font-size: 13px;
}

/* React-Toastify */
.Toastify__toast-container {
   display: flex;
   justify-content: center;
   padding: 0;
}

.Toastify__toast {
   padding: 0;
   height: 30px;
   min-height: 30px;
   border-radius: 30px;
   background-color: #00000080;
   text-align: center;
   width: fit-content;
   margin-bottom: 90px;
   padding: 0 10px;
}
.Toastify__toast-body {
   padding: 0 !important;
   height: 20px !important;
}

/* React Spring Bottom Sheet */
div[aria-modal='true'] {
   justify-self: center;
   max-width: 480px;
   width: 100%;
   overscroll-behavior: none;
}
.completed-mission-bottom-sheet > div[aria-modal='true'] {
   background-color: #f6f6f6;
}

.mission-sheet div[data-rsbs-scroll='true'] {
}

/* 스크롤 바운딩 */
.overscroll {
   overscroll-behavior: none;
}

.swiper-carousel {
   transition: opacity 0.2s ease-in-out;
}
.swiper-slide {
   display: flex;
   justify-content: center;
}

.switch {
   position: relative;
   display: inline-block;
   width: 48px;
   height: 28px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

.slider:before {
   position: absolute;
   content: '';
   height: 20px;
   width: 20px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

input:checked + .slider {
   background-color: #2196f3;
}

input:focus + .slider {
   box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
   -webkit-transform: translateX(20px);
   -ms-transform: translateX(20px);
   transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

_::-webkit-full-page-media,
_:future,
:root #root {
   padding-bottom: 20px;
}

* {
   /* 스크롤바의 폭 너비 */
   &::-webkit-scrollbar {
      width: 5px;
      height: 0px;
   }

   &::-webkit-scrollbar-thumb {
      background: #ddd; /* 스크롤바 색상 */
      border-radius: 10px; /* 스크롤바 둥근 테두리 */
   }

   &::-webkit-scrollbar-track {
      background: #eee; /*스크롤바 뒷 배경 색상*/
   }
}

.swiper-button-prev,
.swiper-button-next {
   width: 25px;
   height: 25px;
   color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
   font-size: 10px !important;
   font-weight: bold !important;
   background-color: #fff;
   opacity: 0.5;
   border-radius: 100%;
   padding: 10px;
   width: 25px;
   height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
}

html,
body {
   box-sizing: border-box;
   height: 100dvh;
   margin: 0;
   padding: 0;
}
html {
   -ms-content-zooming: none;
   -ms-touch-action: pan-x pan-y;
}

body {
   padding-bottom: env(safe-area-inset-bottom);
   touch-action: pan-x pan-y;
}

img {
   user-drag: none;
   -webkit-user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

a {
   color: inherit;
}
textarea {
   resize: none;
}
textarea:focus,
input:focus {
   outline: none;
}

.visible {
   top: 0;
   transition: top 0.4s ease-out;
}

.hidden {
   top: -40px;
   transition: top 0.4s ease-out;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
   font-family: 'Pretendard-Regular';
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
}
ol,
ul {
   list-style: none;
}
li {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
